@import "tailwindcss";

.customCard {
  @apply rounded-md p-0;
  border: 2px solid var(--color-grey);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cardTitle {
  @apply p-2;
  font-weight: bold;
  background-color: var(--color-grey);
}

.cardBody {
  @apply p-2;
  flex: 1;
}
